@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* :root {
  font-size: 62.5%;
} */

body {
  background-color: rgb(12, 0, 0);
}

table,
th,
td,
tr {
  /* border: 2px solid black; */
  text-align: center;
  padding: 10px;
  color: whitesmoke;
}

header {
  background-image: url("../img/header-bg1.jpeg");
  background-position: top;
  background-size: cover;
  width: auto;
}
